/* style.css */

/* Set the canvas element to be the full size of the container */
canvas {
    width: 100%;
    height: 100%;
}

/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
}

#canvas-container {
    width: 100%;
    height: 600px;
}

title, h1, h2{
    font-weight: bold;
    color: #ffee32;
}

p{
    color: #ffee32;
}

#box{
    color: #d6d6d6;
    font-weight: bold;
}

.murder-photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    margin-left: auto;
    margin-right: auto; 
}

.column {
    background-color: #202020;
    float: left;
    border-style: inset;
    padding: 20px;
    margin: 5px;
    min-width: 100px;
}

.abilities-container {
    padding: 3px;
    border-radius: 0px;
    margin-bottom: 10px;
}

.button {
    background-color: #ffd100; /* Green */
    border: none;
    color: #202020;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif;
}

.slidecontainer{
    width: 100%;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    border-radius: 0%;
    border: none;
    background: #ffd100; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    border-radius: 0%;
    border: none;
    background: #ffd100; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

#content{
    background-color: #333533;
    padding: 10px;
    margin: 50px;
}
